*{
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.img__cabecalho {
    width: 40vw;
    margin: 100px 0 40px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__caixa-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 5vw;
    text-align: center;
}

.caixa-h1__titulo {
    color: hsl(210, 10%, 33%);
    font-size: 2em;
    font-weight: 600;
}











